# App
NODE_ENV=development
LOG_LEVEL=info

# Database
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/order_api

# Test Database
DATABASE_URL_TEST=postgresql://postgres:postgres@localhost:5433/order_api_test